.example-parent {
	border: 2px solid #ebff3a;
	color: green;
	display: flex;
	font-family: sans-serif;
	font-weight: inherit;
}

.example-origin {
	flex-basis: 50%;
	flex-grow: 1;
	padding: 10px;
}
.example-draggable {
	background-color: orange;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
}

.example-dropzone {
	background-color: red;
	flex-basis: 50%;
	flex-grow: 1;
	padding: 10px;
}

.example-dropzone-2 {
	background-color: #c527a3;
	flex-basis: 50%;
	flex-grow: 1;
	padding: 10px;
}